*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #b3a125;
}

#head{
    height: 100px;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: #ff0000;
    border: none;
}

#poke-num{
    padding: 5px;
    border-radius: 15px;
    font-size: 13px;
    color: black;
    border: none;
    height: 30px;
}

#poke-type{
    padding: 5px;
    border-radius: 15px;
    border: none;
    font-size: 13px;
    height: 30px;
}

#head button{
    padding: 7px;
    border-radius: 10px;
    font-size: 15px;
    width: 100px;
    border: none;
    background-color: #3b4cca;
    color: white;
}

#poke-body{
    height: 500px;
    width: 500px;
    display: flex;
    flex-wrap: wrap;
    overflow: scroll;
    justify-content: center;
    gap: 10px;
    background-color: #3b4cca;
    padding-top: 10px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffde00;
    color: black;
    border-radius: 10px;
    height: 150px;
}